<%= simple_form_for() do |f|%>
<%= f.input :description %>
<%= f.input :ingreduient_id, collection: @ingredients %>
<%=  submit %>
<% end %>

cocktail_doses_path
@cocktail, @dose

<form action = "url" method = ""></form>form>
